

@media screen and (max-width: 576px){
    .main{
      width: 100%;
      height: auto;
      padding: 50px 50px;
      background-position: 0cqw;
      background-size: cover;
      position: relative;
    }
    .sign_up{
      width: 100%;
      height: auto;
      justify-content: start;
      align-items: start;
      row-gap: 18px;
      margin-top: 15px;
      font-size: 18px;
    }
    .sign_up i{
      display: inline;
    }

    .info_box{
      width: 100%;
      height: 70%;
      display: grid;
      margin-top: 50px;
    }
    .title_text{
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 52px
    }
    .introuction_text{
      width: 100%;
    }
    .buttom_box{
      width: 100%;
      display: flex;
      justify-content: start;
      column-gap: 30px;
      margin-top: 0px;
    }

    /* seondMain */
    .Second_main{
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 20px 30px;
    }
    .background_text{
      display: none;
    }
    .pictures_container{
      width: 100%;
      height: 570px;
      margin-top: 0px;
    }
    .pictures_container :nth-child(1){
      width: 100%;
    }

    .pictures_container :nth-child(2){
        bottom: -2px;
    }

    .About_us{
      width: 100%;
      height: auto;
      display: grid;
      margin: 20px 0px 0px 0px;
    }
    .left_corner{
      width: 100%;
      height: auto;
      display: grid;
      row-gap: 15px;
      margin-top: 600px;
    }
    .left_corner h4{
      font-size: 28px;
    }
    .Numbers_conatiner{
      height: 90px;
    }
    .Plus_box{
      display: grid;
    }
    .Plus_box span{
      font-size: 28px;
    }
    .left_btn{
      margin: 20px auto;
      width: 140px;
      height: 40px;
      font-size: 15px;
    }
    .right_corner{
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .right_corner img{
      width: 70%;
      height: auto;
      height: 350px;
    }

    .Central_data_box{
      width: 83%;
      height: 450px;
      margin: 0 auto;
      top: 54%;;
    }
    .Travel_services{
        width: 100%;
    }
    .service_box{
      width: 20%;
    }
    .Travel_informations{
      width: 100%;
      height: 80%;
      padding: 0px 0px;
    }
    .Passenger_box{
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
    }
    .passenger_data{
      width: 40%;
      height: 100px;
      justify-content: space-evenly;
    }
    .passenger_data input{
      width: 95%;
      height: 50px;
      padding: 5px;
    }
    .passenger_data select{
      width: 80%;
      height: 50px;
  }
  
}





@media screen and (min-width: 576px){
    .main{
      height: auto;
      padding: 50px 50px;
      background-position: 0cqw;
      background-size: cover;
      position: relative;
    }
    .sign_up{
      width: 100%;
      height: auto;
      justify-content: start;
      align-items: start;
      row-gap: 17px;
      margin-top: 15px;
      font-size: 18px;
      
    }
    .sign_up i{
      display: inline;
    }
    .info_box{
      width: 100%;
      height: 70%;
      display: grid;
      margin-top: 50px;
    }
    .title_text{
      font-size: 40px;
      letter-spacing: 1px;
      line-height: 52px
    }
    .introuction_text{
      width: 70%;
    }
    .buttom_box{
      width: 100%;
      display: flex;
      justify-content: start;
      column-gap: 30px;
      margin-top: 0px;
    }

    /* seondMain */
    .Second_main{
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 30px 30px;
    }
    .background_text{
      display: none;
    }
    .pictures_container{
      width: 100%;
      height: 570px;
      margin-top: 0px;
      display: flex;
      justify-content: center;
    }
    .pictures_container :nth-child(1){
      width: 60%;
    }

    .pictures_container :nth-child(2){
      right: 5%;
      bottom: -2px;
    }

    .About_us{
      width: 100%;
      height: auto;
      display: grid;
      margin: 20px 0px 0px 0px;
    }
    .left_corner{
      width: 100%;
      height: auto;
      display: grid;
      row-gap: 15px;
      margin-top: 620px;
    }
    .left_corner h4{
      font-size: 28px;
    }
    .Numbers_conatiner{
      height: 90px;
    }
    .Plus_box{
      display: grid;
    }
    .Plus_box span{
      font-size: 28px;
    }
    .left_btn{
      margin: 20px auto;
      width: 140px;
      height: 40px;
      font-size: 15px;
    }
    .right_corner{
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .right_corner img{
      width: 47%;
      height: auto;
      height: 350px;
    }

    .Central_data_box{
      width: 83%;
      height: 450px;
      margin: 0 auto;
      top: 55%;
    }
    .Travel_services{
        width: 100%;
    }
    .service_box{
      width: 20%;
    }
    .Travel_informations{
      width: 100%;
      height: 80%;
      padding: 0px 0px;
    }
    .Passenger_box{
      display: flex;
      flex-wrap: wrap;
      padding: 10px;
    }
    .passenger_data{
      width: 40%;
      height: 100px;
      justify-content: space-evenly;
    }
    .passenger_data input{
      width: 95%;
      height: 50px;
      padding: 5px;
    }
    .passenger_data select{
      width: 80%;
      height: 50px;
  }
}




@media screen and (min-width: 992px){
    .main{
      width: 100%;
      height: 800px;
      padding: 18px 130px;
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .sign_up{
      width: 80%;
      height: 100%;
      justify-content: space-between;
      align-items: center;
      row-gap: 0px;
      margin-top: 0px;
      font-size: 15px;
    }
    .sign_up i{
      display: none;
    }
    .info_box{
      width: 563px;
      height: auto;
      display: block;
      margin-top: 100px;
    }
    .title_text{
      font-size: 50px;
      letter-spacing: 2.7px;
      line-height: 68px
    }
    .introuction_text{
      width: 100%;
    }
    .buttom_box{
      width: 310px;
      display: flex;
      justify-content: space-between;
      column-gap: 0px;
      margin-top: 45px;
    }

    /* seondMain */
    .Second_main{
      height: auto;
      display: flex;
      flex-direction: row;
      padding: 90px 0px 30px 130px;
    }
    .background_text{
      width: 50%;
      display: none;
      font-size: 310px;
      position: absolute;

    }
    .pictures_container{
      width: 540px;
      height: 570px;
      margin-top: 130px;
      justify-content: start;
    }
    .pictures_container :nth-child(1){
      width: 410px;
    }

    .pictures_container :nth-child(2){
        bottom: 0px;
    }

    .About_us{
      width: 810px;
      height: auto;
      display: flex;
      margin: 130px 25px 0px 20px;
    }

    .left_corner{
      width: 63%;
      height: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      margin-top: 0px;
    }

    .left_corner h4{
      font-size: 33px;
    }
    .Numbers_conatiner{
      height: 85px;
    }
    .Plus_box{
      display: block;
    }
    .Plus_box span{
      font-size: 32px;
    }
    .left_btn{
      display: none;
    }
    .right_corner{
      width: auto;
      justify-content: start;
      align-items: end;
      margin-top: 0px;
    }
    .right_corner img{
      width: 100%;
      height: 425px;
    }

    .Central_data_box{
      width: 80%;
      height: 207px;
      margin: 0px;
      top: 50%;
    }

    .Travel_services{
        width: 515px;
    }
    .service_box{
      width: 120px;
    }
    .Travel_informations{
      width: 100%;
      height: 162px;
      padding: 30px 30px;
    }
    .Passenger_box{
      display: flex;
      flex-wrap: nowrap;
      padding: 0px;
    }
    .passenger_data{
      width: 15%;
      height: 87px;
      justify-content: space-between;
    }
    .passenger_data input{
      width: 100%;
      height: 50px;
      padding: 0px 12px;
    }
    .passenger_data select{
      width: 100%;
      height: 50px;
  }
}



